html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--black);
}

body {
  position: relative;
  color: var(--white);
  font-family: Jaldi;
}

.absolute {
  position: absolute;
}

.contents {
  display: contents;
}

.nomouse {
  pointer-events: none;
}

#displayView {
  opacity: 0;
  pointer-events: none;
}

#displayImage {
  pointer-events: none;
}